.header {
    height: calc(var(--header-height)-var(--header-menu));
    background-image: linear-gradient(0,#d861a6,#e03fa3);

}

.header__logo {
    display: flex;
    width: 580px;
    align-items: center;
}

.logo_text {
    color: var(--white-color);
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 400;
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid var(--border-color);

}

/* main */
.app__container{
    position: relative;
    top: 132px;
}
.container-content__top {
    display: flex;
    height: 55px;
    background-color: var(--white-color);
    padding: 0 15px;
    align-items: center;
    font-size: 1.5rem;
    color: #888;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
}

.content__input {
    display: flex;
    min-width: 58px;
    padding:0 20px;
}

.input__check {
    display: flex;
    margin: auto;
    width: 1.8rem;
    height: 1.8rem;
    
}

.text__left {
    color: var(--text-color);
    flex: 1;
}

.text-right__item {
    width: 172px;
    text-align: center;
}

.container-content__main {
    background-color: var(--white-color);
}

.main-product__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px 15px;
    border: 1px solid var(--border-color);
}

.main-product__item {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: #888;
    text-align: center;
    min-height: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}


.main-product__item-product {
    width: 350px;
}

.main-product__item + .main-product__item {
    padding: 20px 0;
}


.item-product__link {
    display: flex;
    text-decoration: none;
}

.item-product__img {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);

}

.item-product__text {
    padding-top: 10px;
    flex: 1;
    line-height: 2rem;
    max-height: 5rem ;
    color: var(--text-color);
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.item-product__sectors {
    width: 124px;
}


.item-product__sectors-icon {
    cursor: pointer;
}

.item-product__sectors-about {
    width: 70px;
    text-align: center;
    border: none;
    outline: none;
}

.item-product__price {
    display: flex;
    margin-left: 34px;
    width: 170px;
}

.item-product__price-old {
    margin-right: 10px;
    text-decoration: line-through;
}

.item-product__price-sale {
    color: var(--text-color);
}

.item-product__money {
    width: 100px;
    color: var(--primary-color);
    font-weight: 700;
    margin-left: 60px;
}

.item-product__delete {
    text-align: center;
    width: 150px;
    color: #ff0202;
    margin-left: 50px;
    cursor: pointer;
    text-decoration: none;
}
.item-product__delete a {
    color: #ff0202;
    text-decoration: none;
}
/* container-content__bot  */

.container-content__bot {
    display: flex;
    background-color: var(--white-color);
    min-height: 60px;
    align-items: center;
    padding: 15px;
    width: 100%;
    flex: 1;
    justify-content: space-between;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 50px;
    bottom: 0;
    border: 2px solid var(--border-color) ;

}


.container-content__bot-left {
    display: flex;
}

.content__bot-select-all {
    width: 128px;
    text-align: left;
    font-size: 1.6rem;
    color: var(--text-color);
    border: none;
    background-color: var(--white-color);
    cursor: pointer;
}

.content__bot-delete {
    width: 42px;
    cursor: pointer;
    text-align: left;
    font-size: 1.6rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.container-content__bot-right {
    display: flex;
    justify-content: flex-end;
}

.content__bot-text {
    width: 250px;
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 34px;
    padding-left: 100px;
}

.content__bot-total {
    width: 150px;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 34px;
}

.container-content__bot-btn {
    margin-right: 50px;
    padding: 5px 20px;
    width: 200px;
    height: 40px;
}


.conteainer-content_total {
    display: none;
    justify-content: space-between;
    margin-top: 20px;
}

.conteainer-content_total:last-child{
    display: flex;
}


.choose-main__quantity { 
    display: flex;
    margin-top: 25px;
    width: 100%;
    min-height: 42px;
    display: flex;
    align-items: center;

}

.choose-main__quantity-label { 
    width: 110px;
    color: #757575;
    font-weight: 500;
    font-size: 1.6rem;
}

.choose-main__quantity-number { 
    display: flex;
    width: 122px;
    height: 36px;
    justify-content: center;
}

.quantity-number__num { 
    width: 50px;
    height: 36px;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    border: 1px solid var(--border-color);

}

.quantity-number__num:focus {
    outline: none;
}

.choose-main__quantity-text { 
    margin-left: 10px;
    font-size: 1.4rem;
    color: #929292;
}

/* Đơn vị vận chuyển */
.container-content__main-about {
    display: flex;
    font-size: 1.5rem;
    min-height: 88px;
    background-color: #fafdff;
    border-top: 1px dashed var(--border-color);
    border-bottom: 1px dashed var(--border-color);
}

.main-about__mess {
    border-right: 1px dashed var(--border-color);

}

.main-about__mess-content {
    display: flex;
    align-items: center;
    width: 480px;
    height: 74px;
    padding: 0 30px;
}

.main-about__input-mess {
    background-color: var(--white-color);
    margin-left: 30px;
    border: 1px solid var(--border-color);
}

.mess-input {
    padding: 4px 12px;
    height: 40px;
    width: 320px;
    border: none;
}

.main-about__trans {
    display: flex;
    width: 100%;
    color: var(--text-color);
    padding: 16px 30px 16px 20px;
    flex-direction: column;
}

.main-about__trans-top {
    display: flex;
    justify-content: space-between;
}

.trans-top__label {
    font-size: 1.6rem;
    color: #00bfa5;
}

.trans-top__unit {
    margin-left: -75px;
}

.trans-top__unit-appoint {
    margin-top: 5px;
    color: #888;
    font-size: 1.3rem;
}

.trans-top__change {
    color: #05a;
    text-transform: uppercase;
}

.trans-top__price-ship {

}

.main-about__trans-bot {
    margin-top: 5px;
    color: #959595;
    text-align: right;
}

.container-content__main-statistical {
    display: flex;
    align-items: center;
    min-height: 80px;
    background-color: #fafdff;
    border-bottom: 1px solid var(--border-color);
    padding: 0 30px;
    justify-content: flex-end;
}

.main-statistical__text {
    font-size: 1.5rem;
    color: #959595;
}

.main-statistical__number {
    font-size: 20px;
    color: var(--primary-color);
    margin-left: 30px;
}

/* Thanh toán mua hàng */
.container-content__bot {
    display: block;
    border: 1px solid var(--border-color);
}

.container-content__bot-payment {
    display: flex;
    height: 80px;
    align-items: CENTER;
    margin: 50px 0 0;
    padding: 10px 13px 20px;
    background-color: #fff;
    border-bottom: 1px solid var(--border-color);
}

.bot-payment__text {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.bot-payment__method {
    display: flex;
}

.bot-payment__method-onl {
    margin-left: 20px;
}

.bot-payment__method-live {
    margin-left: 20px;
}

.method__btn {
    border: 1px solid var(--border-color);  
    min-width: 200px;
    height: 40px;
    
}

.method__btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.method__btn-onl--active {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.payment-onl__card {
    display: flex;
    padding: 20px;
    /* display: none; */
    border-bottom: 1px solid var(--border-color);
}

.payment-onl__card-text{
    font-size: 1.8rem;
    margin-top: 20px;
    color: var(--text-color);
}

.payment-onl__card-btn {
    margin-left: 30px;
}

.payment-onl__card-list {
    display: flex;
    list-style: none;

}


.payment-onl__card-item__img {
    width: 80px;
    height: 33px;
    max-height: 34px;
    max-width: 100%;
    margin-right: 4px;
    margin-left: 5px;
    text-decoration: none;
    border: 1px solid var(--border-color);
}

.payment-onl__card-item__img--active {
    border: 1px solid var(--primary-color);
}

.payment-onl__card-item__img:hover {
    border: 1px solid var(--primary-color);
}

/* Thanh toán */
.container-content__bottom {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    margin-top: 50px;
    padding: 15px;
    border: 1px solid var(--border-color);
}

.container-content__bot-pay {
    display: none;
    flex-direction: column;
    
}

.container-content__bot-pay:last-child {
    display: flex;
}


.container-content__bot-pay-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 82px;
    border-bottom: 1px dashed var(--border-color);
}

.bot-pay-top__item {
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    justify-content: flex-end;
}

.bot-pay-top__text {
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.bot-pay-top__number {
    width: 110px;
    line-height: 40px;
    height: 40px;
    text-align: right;
}

.bot-pay-top__all-pay-text {
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.bot-pay-top__all-pay-number {
    width: 230px;
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 50px;
    height: 50px;
    text-align: right;
}

.container-content__bot-pay-bot {
    display: flex;
    padding: 30px 30px 20px;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color);
}

.bot-pay-bot__text {
    width: 930px;
}

.bot-pay-bot__btn {
    width: 210px;
    height: 40px;
}



.content__top-main {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    margin-top: 50px;
    padding: 28px 24px 24px;
}

.top-main__address {
    margin-bottom: 20px;
    font-size: 1.9rem;
    color: var(--primary-color);
    font-weight: 500;
}

#notify-msg{
    font-size: 1.4rem;
    font-weight: 600;
    font-style: italic;
    color: #fb3030;
    border: 1px dashed #fb3030;
    width: 30%;
    line-height: 30px;
    height: 30px;
    margin: 5px 0 10px;
    text-align: center;
}

.top-main__address-text {
    display: flex;
}

.address-text__info {
    display: flex;
    font-size: 1.7rem;
    color: var(--text-color);
    flex-direction: column;
    flex: 0.75;
    margin-left: 20px;
}

.address-text__info span {
    margin: 5px 0 10px 0;
}

.address-text__info-individual {
    padding: 4px 12px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-weight: 700;
}

.address-text__info-address {
    height: 40px;
    padding: 4px 12px;
    margin-left: 20px;
    font-weight: 700;
    outline: none;
    border: none;

}

.address-text__change {
    margin-left: 60px;
    color: #05a;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}