.container-top {
   width: 100%;
   height: auto;
   /* background-image: url(https://asset.chopet.vn/temps/23-03-2021/05ed96b9c124aeec386dae6bc5ad9b92db84632f.jpg); */
   background-size: 100%;
   background-repeat: no-repeat;
}

.container-top__banner {
    width: 100%;
    max-height: 792px;
}

.banner-img {
    width: 100%;
}

.container-main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 302px;

}

.main__content {
    width: 100%;
    height: 240px;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;

}

.main__content-item {
    display: flex;
    width: 350px;
    padding: 0 15px 0 20px;
}

.main__content-item-img {
    width: 100%;
    max-width: 150px;
}

.content-img {
    width: 133px;
    height: 157px;
}
.main__content-item--bg1,
.main__content-item--bg2,
.main__content-item--bg3 {
    background-repeat: no-repeat;
    background-size: cover;
}

.main__content-item--bg1 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAayvfy6l0D8lHw4e0MC4NBVHaQJhyUcy5wQ&usqp=CAU) ;

}

.main__content-item--bg2 {
    background-image: url(https://cdn.tgdd.vn//GameApp/-1//Powerpoint-9-800x450.jpg) ;

}

.main__content-item--bg2 img {
    width: 208px;
}

.main__content-item--bg3 {
    background-image: url(https://i.pinimg.com/736x/bc/89/d5/bc89d5005c71fec19900b26687304867--desktop-wallpapers-definitions.jpg) ;

}

.main__content-item--bg3 img {
    width: 180px;
}



.main__content-item-title {
    padding-left: 24px;
    font-size: 1.4rem;
    color: var(--white-color);

}

.main__content-item-title p {
    font-size: 2.2rem;
    font-weight: 450;
    margin-bottom: 20px;
}

.main__content-item-title h2 {
    font-size: 4.2rem;
    font-weight: 600;
    padding: 4px;
    margin: 22px 0 ;
}

.main__content-item-title h3 {
    font-size: 2.4rem;
    font-weight: 0;
    line-height: 1.2;
}

.main__content-item--bg2 h2 {
    font-size: 3.4rem !important;  
}

.main__content-btn {
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
    cursor: pointer;
}

.main__content-btn:hover {
    color: var(--primary-color);
}

/* bot */
.container-bot {
    height: 566px;
    background-color: #fff;
}

.bot__content-heading{
     font-size: 3rem;
     font-weight: 450;
     color: var(--text-color);
     text-align: center;
     margin: 0;
}

.bot__content-heading h2 {
    margin: 0;
    line-height: 5rem;
    padding: 32px 0;
}

.content-product__list {
    display: flex;
    list-style: none;
}

.content-product__item {
    border: 1px solid rgb(238, 236, 236);
    box-shadow: 0 1px 2px #e0e0e0;
    
    text-align: center;
}

.product__img {
    width: 90%;
     
}

.content-product__purchase-text {
    font-size: 1.6rem;
    font-weight: 420;
    color: var(--text-color);
    margin-top: 0;
}

.content-product__purchase-price {
    color: var(--primary-color);
    font-size: 2rem;
}

.content-product__purchase-btn {
     margin-bottom: 20px;
     
}

.content-product__purchase-btn:hover {
    background-color: var(--background-color-btn);
}

/* container introduct */
.container-intro {
    display: flex;
    margin: auto;
    background-color: #fff;
}
.container-box {
    width: 100%;
    height: 133px;
    
}

.container-box__img {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px #e0e0e0;
    border: 1px solid #ccc;
    margin-left: 19px;
}

/* container news */
.container-news {
    background-color: #fff;
}

.news-content__list {
    margin: 0;
    padding-top: 144px ;
    padding-bottom: 70px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.news-content__item {
    width: 236px;
    height: 280px;
    background-image: url(https://www.petcity.vn/media/lib/bg-parchment.png);
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 8px;
}

.news-content__item-icon {
    position: relative;
    top: -30%;
}

.news-content__item-icon-img {
    width: 162px;
    height: 1;
    text-align: center;
    display: flex;
    margin: auto;
    border-radius: 50%;
    transition: top 0.5s ease-out ;
    top: 0;
}

.news-content__item-icon-img:hover {
    position: relative;
    top: -8px;
}

.news-content__item-box {
    text-align: center;
    position: relative;
    top: -30px;
}

.news-content__item-heading {
    margin: 0;
    color: #25221f;
    font-size: 2rem;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase ;
}

.news-content__text {
    font-size: 1.3rem;
    color: var(--text-color);
    line-height: 18px;
    margin: 14px 4px;
}

.news-content__item-btn:hover {
    background-color: var(--background-color-btn);
}





